  <form (ngSubmit)="applyFilters()" #filterForm="ngForm">
    <div>
      <mat-expansion-panel data-name="orderFilter">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'cockpit.filter' | transloco }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="formRow">
          <div class="formMobileRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.email' | transloco" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.referenceNumber' | transloco"
                [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
          <div class="formDesktopRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.email' | transloco" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.referenceNumber' | transloco"
                [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
        </div>
        <div class="align-right">
          <button class="orderClearFilters" name="orderClearFilters" mat-button type="button"
            (click)="clearFilters(filterForm)">{{'buttons.clearFilters' | transloco}}</button>
          <button class="orderApplyFilters" name="orderApplyFilters" mat-button type="submit"
            color="accent">{{'buttons.applyFilters' | transloco}}</button>
        </div>
      </mat-expansion-panel>
    </div>
  </form>

  <mat-progress-bar *ngIf="!orders" color="accent" mode="indeterminate">
  </mat-progress-bar>
  <mat-card>
    <mat-card-title>{{'cockpit.orders.title' | transloco}}</mat-card-title>
    <mat-divider></mat-divider>

    <div class="tableContainer">
      <table mat-table [dataSource]="orders" matSort (matSortChange)="sort($event)">

        <!-- Date Column -->
        <ng-container matColumnDef="booking.bookingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
        </ng-container>

        <!-- Ref No Column -->
        <ng-container matColumnDef="booking.tableId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.tableId}} </td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="booking.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.name}} </td>
        </ng-container>

        
        <!-- Ref No Column no need to display bookingToken on order-cockpit
        <ng-container matColumnDef="booking.bookingToken">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[3].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.bookingToken}} </td>
        </ng-container>
        -->

        <!-- Position Column 
        <ng-container matColumnDef="booking.status" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="statusContainer"> {{columns[3].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.status}} </td>
        </ng-container> 
      -->

      <!-- Payment Status Column -->
      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[3].label}} </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation();" class="statusCell">


          <mat-checkbox (click)="sendPaymentStatus(!element.order.paid, element)"  [checked]=element.order.paid  >{{'cockpit.table.paymentStatusPaid' | transloco}}</mat-checkbox> 

<!-- Status Column using checkbox instead of a button because it is more user-friendly
          <button mat-stroked-button color="{{element.order.paid ? 'accent' : 'warn'}}" (click)="sendPaymentStatus(!element.order.paid, element)"> {{paymentStatus[element.order.paid ? 1 : 0]}} <mat-icon>{{element.order.paid ? 'attach_money' : 'access_time'}}</mat-icon> </button>
-->
        </td>
      </ng-container>

      <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="statusHeader"> {{columns[4].label}} </th>
          <td mat-cell *matCellDef="let element" class="statusCell" id="statusCell" (click)="$event.stopPropagation();"
            appearance="fill">
            <!--
              <button mat-stroked-button class="statusButtons" [value]="option" *ngFor="let option of status" (click)="sendStatus(option ,element)">
                {{ option }}</button>-->
                <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" value="true" >
                  <mat-button-toggle  value="{{element.order.status === 0 ? true :false}}" class=" btn-dark btn-sm">status</mat-button-toggle>
                  <mat-button-toggle  value="{{element.order.status === 1 ? true :false}}" class=" btn-dark btn-sm">status</mat-button-toggle>
                  <mat-button-toggle  value="{{element.order.status === 2 ? true :false}}" class=" btn-dark btn-sm">status</mat-button-toggle>
                  <mat-button-toggle  value="{{element.order.status === 3 ? true :false}}" class=" btn-dark btn-sm">status</mat-button-toggle>
                </mat-button-toggle-group>

          </td>
        </ng-container>
        
        <ng-container matColumnDef="status1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >  </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation();" > 
          <button mat-mini-fab style="background-color: white; color: red ; border-color : red ;">
          <mat-icon>clear</mat-icon>
        </button> </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selected(row)"></tr>

      </table>
    </div>

    <div class="property-text-center noResults" *ngIf="orders.length===0">
      <h3>{{'table.noResults' | transloco}}.</h3>
    </div>
    <mat-paginator #pagingBar [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
      [showFirstLastButtons]="true" (page)="page($event)">
    </mat-paginator>
    <div class="left-btn">
     <!--  <button mat-button color="blue">
        <mat-icon></mat-icon>Bestellung bearbeiten
      </button>
      <button mat-stroked-button color="warn" >Archiv anzeigen</button>
      -->
    </div>
  </mat-card>
