
<div class="float-container">

  <div class="float-child">
    <img src="./assets/images/Hnet.com-image (13).png" alt="this is my pic">
  </div>

  <div class="float-child">
    <p>{{'userManagement.createUser' | transloco}}</p>
    <!--

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="username">
        Username
      </label>
      <div class="col-sm-10">
          <input id="username" type="text" formControlName="username">
      </div>
      
    </div>
  
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="email">
        Email
      </label>
      <div class="col-sm-10">
<input id="email" type="text" formControlName="email">
      </div> 
     
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="password">
        password
      </label>
      <div class="col-sm-10">
<input id="password" type="text" formControlName="password">
      </div> 
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="repeatedPassword">
        Repeat Password
      </label>
      <div class="col-sm-10">
<input id="repeatedPassword" type="text" formControlName="repeatedPassword">
      </div> 
    </div>
    
  

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="Role">
       Role
      </label>
      <div class="col-sm-10">
      <mat-select  [(value)]="selectedRole" class="statusSelect" formControlName="userRoleId">

      <mat-option [Value]="option"  *ngFor="let option of userRoles2" (click)="sendStatus(option )">
        {{ option.roleTyp }}</mat-option>
    </mat-select>
      </div> 
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">

    <button mdbBtn color="primary"   type="submit">Great User</button>
</div>
</div>
</form>-->


    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="form-group row" style="margin-top: 0px; padding-top: 0px;">
        <mat-form-field class="item" appearance="outline">
          <mat-label class="col-sm-2 col-form-label">{{'formFields.username' | transloco}}</mat-label>
          <input matInput formControlName="username">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.required">
              {{'userManagement.formErrors.addUserNameRequired' | transloco}}
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group row" style="margin-top: 0px; padding-top: 0px;">
        <mat-form-field class="item" appearance="outline">
          <mat-label class="col-sm-2 col-form-label" >{{'formFields.email' | transloco}}</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix> email</mat-icon>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              {{'userManagement.formErrors.addUserEmailRequired' | transloco}}
            </div>
            <div *ngIf="email.errors.pattern">
              {{'userManagement.formErrors.addUserEmailPattern' | transloco}}
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group row" style="margin-top: 0px; padding-top: 0px;">
        <mat-form-field class="item" appearance="outline">
          <mat-label class="col-sm-2 col-form-label">{{'formFields.password' | transloco}}</mat-label>
          <input type="password" matInput formControlName="password" [type]="fieldTextType ? 'text' : 'password'">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
              {{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}
            </div>
          </mat-error>
          <mat-icon matSuffix (click)="toggleFieldTextType()" ><span class="material-icons-outlined">
            {{icon}}
            </span></mat-icon>
        </mat-form-field>
      </div>

      <div class="form-group row">
        <mat-form-field class="item" appearance="outline">
            <mat-label class="col-sm-2 col-form-label">{{'userManagement.userManagement.repeatPassword' | transloco}}</mat-label>
            <input type="confirmedPassword" matInput formControlName="confirmedPassword" [type]="fieldTextType ? 'text' : 'password'">
            <mat-error *ngIf="f.confirmedPassword.touched && f.confirmedPassword.invalid"
                class="alert alert-danger">
                <div *ngIf="f.confirmedPassword.errors.required">{{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}</div>
                <div *ngIf="f.confirmedPassword.errors.confirmedValidator">{{'userManagement.formErrors.passwordMatchPrompt' | transloco}}</div>
            </mat-error>
            <mat-icon matSuffix (click)="toggleFieldTextType()" ><span class="material-icons-outlined">
                {{icon}}
                </span></mat-icon>
            



            <!--  <mat-error *ngIf="confirmedPassword.touched && confirmedPassword.invalid">
                <div *ngIf="confirmedPassword.errors.required">
                    please repeat password
                </div>
            </mat-error>
            <mat-error *ngIf="checkoutForm.hasError('notSame')">
                your new passwords are not match
            </mat-error>-->
        </mat-form-field>

    </div>
      <!--
<div class="form-group row">
<mat-form-field appearance="fill">
  <mat-label class="col-sm-2 col-form-label">Repeat password</mat-label>
  <input matInput formControlName="repeatedPassword">
</mat-form-field>
</div>
-->

      <div class="form-group row">
        <mat-form-field class="item" appearance="outline">
          <mat-label class="col-sm-2 col-form-label">{{'userManagement.userRole' | transloco}}</mat-label>
          <mat-select formControlName="userRoleId">
            <mat-option value="0">{{'userManagement.roleCustomer' | transloco}}</mat-option>
            <mat-option value="1">{{'userManagement.roleWaiter' | transloco}}</mat-option>
            <mat-option value="2">{{'userManagement.roleManager' | transloco}}</mat-option>
            <mat-option value="3">{{'userManagement.roleAdmin' | transloco}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>

      <div class="btn-toolbar">
        <div class="right-btn">
          <button mat-button mat-dialog-close type="submit" [disabled]="!checkoutForm.valid">{{'buttons.addUser' | transloco}}</button>
          <button mat-button mat-dialog-close color="primary" color="accent">{{'buttons.close' | transloco}}</button>
        </div>
      </div>


    </form>

  </div>


</div>