
<mat-tab-group mat-stretch-tabs>
<mat-tab label='Manage Password' >
       
    <div class="float-container" >

   <!-- <div class="float-child-left">
        <img src="./assets/images/Hnet.com-image (1).png" alt="this is my pic">
    </div>
-->
    <div class="float-child-right">
    <!--    <h3> Username: <p>{{UserInfo.username}}</p> <br>  Email: <p>{{UserInfo.email}}</p> </h3>-->
        <h5>Username:<span>{{UserInfo.username}}</span></h5>
        <h5>Email:<span>{{UserInfo.email}}</span> </h5>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
         <p>
                <mat-form-field class="matfield" appearance="outline" class="matfield">
                    <mat-label class="col-sm-2 col-form-label">password</mat-label>
                    <input type="password" matInput formControlName="password"   [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            please insert a password
                        </div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()" ><span class="material-icons-outlined">
                        {{icon}}
                        </span></mat-icon>
                </mat-form-field>
            </p>
            <p>           
                <mat-form-field class="matfield" appearance="outline" class="matfield">
                    <mat-label class="col-sm-2 col-form-label">Repeat Password</mat-label>
                    <input type="confirmedPassword" matInput formControlName="confirmedPassword" [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="f.confirmedPassword.touched && f.confirmedPassword.invalid">
                        <div *ngIf="f.confirmedPassword.errors.required">Password is required.</div>
                        <div *ngIf="f.confirmedPassword.errors.confirmedValidator">Password must be match.</div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()" ><span class="material-icons-outlined">
                        {{icon}}
                        </span></mat-icon>
                    



                    <!--  <mat-error *ngIf="confirmedPassword.touched && confirmedPassword.invalid">
                        <div *ngIf="confirmedPassword.errors.required">
                            please repeat password
                        </div>
                    </mat-error>
                    <mat-error *ngIf="checkoutForm.hasError('notSame')">
                        your new passwords are not match
                    </mat-error>-->
                </mat-form-field>
            </p>


            <div class="btn-toolbar">

                <div class="left-btn">
                    <button mat-button mat-dialog-close class="sub" color="accent" type="submit" [disabled]="!checkoutForm.valid">  <mat-icon matSuffix>
                        <span class="material-icons-outlined">
                            lock
                            </span></mat-icon>
                            Update User Password                          
                    </button>
                    <button mat-stroked-button mat-dialog-close  (click)="resetUserPassword()">
                        <mat-icon matSuffix> email</mat-icon>
                        Send reset Link
                    </button>
                </div>
                <div class="right-btn">
                    <button mat-button  mat-dialog-close >{{'buttons.close' | transloco |
                        uppercase}}</button>
                </div>


            </div>

        </form>
        
    </div>
    
  </div>
      
    
        
       
    

</mat-tab>

</mat-tab-group>