<div style="  text-align: center;">
   <img class="animate__animated animate__bounce" src="./assets/images/Hnet.com-image (1).png" alt="this is my pic">
  <!-- <h3>Username: <span>{{username}}</span></h3>-->
   <div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="matfield" appearance="outline">
                    <mat-label class="col-sm-2 col-form-label">password</mat-label>
                    <input type="password" matInput formControlName="password"
                        [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            please insert a password
                        </div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                            {{icon}}
                        </span></mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="matfield" appearance="outline">
                    <mat-label class="col-sm-2 col-form-label">Repeat Password</mat-label>
                    <input type="confirmedPassword" matInput formControlName="confirmedPassword"
                        [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="getForm.confirmedPassword.touched && getForm.confirmedPassword.invalid">
                        <div *ngIf="getForm.confirmedPassword.errors.required">Password is required.</div>
                        <div *ngIf="getForm.confirmedPassword.errors.confirmedValidator">Password must be match.</div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                            {{icon}}
                        </span></mat-icon>
                  
                </mat-form-field>
            </div>
            <div [ngClass]="loading == true ? 'circles' : 'none'">
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
            </div>
            
        </form>
        <button mat-stroked-button color="primary" [disabled]="!checkoutForm.valid"   (click) = "onSubmit()">
            Reset Password
        </button>
    </div>





</div>